/* START: reset */
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Rubik', sans-serif;
    color: white;
}

.debug{
    border: 2px dashed red;
}
/* END: reset */

.container-100vh{
    height: 100vh;
}

.relative{
    position: relative;
}

.bg-dark{
    background-color: rgb(20, 20, 20);
}

.bg-gray{
    background-color: rgb(68, 68, 68);
}

.bg-light-gray{
    background-color: lightgray;
}

.color-green{
    color: #4BC800;
}

.color-red{
    color: red;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.right-top-20{
    right: 0px;
    top: 20px;
}

.bottom-0{
    bottom: 0px;
}

.left-0{
    left: 0px;
}

.ab-full-orz{
    left: 0px;
    right: 0px;
}

.margin-right-20{
    margin-right: 20px;
}

.lables{
    background-color: rgb(142, 142, 142);
    padding: 5px;
    border-radius: 5px;
}

.lables:first-child{
    margin-right: 20px;
}

.lables:first-child i{
    margin-right: 10px;
}

.p-20{
    padding: 20px;
}

.p-10{
    padding: 10px;
}

.mt-10{
    margin-top: 10px;
}

.mb-10{
    margin-bottom: 10px;
}

.mr-10{
    margin-right: 15px;
}

.ml-10{
    margin-left: 10px;
}

.mx{
    margin: 0 10px;
}

.flex{
    display: flex;
}

.justify-cont-between{
    justify-content: space-between;
}

.justify-cont-around{
    justify-content: space-around;
}

.justify-cont-center{
    justify-content: center;
}

.align-items-center{
    align-items: center;
}

.flex-column{
    flex-direction: column;
}

.flex-wrap{
    flex-wrap: wrap;
}

.text-center{
    text-align: center;
}

.end-meeting a{
    text-decoration: none;
    color: red;
}

.card{
    flex-basis: calc(100%/7 - 1%);
}

.zoom-lable{
    background-color: rgb(119, 119, 119);
}

img{
    display: block;
}

.z-index-1{
    z-index: 1;
}

.overflow-auto{
    overflow: auto;
}

.h-75{
    height: 75%;
}

.w-75{
    width: 95%;
}

.position-fixed{
    position: fixed;
}
